
.details h2 {
    color: #c13238;
}

.details {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 1vh;
    background: #252160;
    border-radius: 15px;
    width: 50vw;
    padding: 1vw;
    margin-top: 1vh;
    position: fixed;
    top: 0;
    right: 1vw;
}
