.wrapper {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    row-gap: 1vh;
    justify-content: center;
    align-items: center;
    background: #0d0f37;
    color: #b9badb;
}

.postsDiv, .detailsDiv, .posts {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.postsDiv h2 {
    color: #c13238;
}

.posts {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1vw;
}