.post {
    box-sizing: border-box;
    display: flex;
    color: #3c3e44;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1vh;
    height: 50vh;
    width: 24vw;
    background: #a2ce4f;
    box-shadow: #6e9f10 3px 3px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.postBody {
    height: 90%;
}

.btn {
    box-sizing: border-box;
    background: #6e9f10;
    color: azure;
    width: 90%;
    border: none;
    border-radius: 10px;
}