.navigation {
    height: 100vh;
    width: 22vw;
    position: fixed;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    background: #a2ce4f;
}

.navigation a {
    padding: 1vw;
    text-decoration: none;
    color: #3c3e44;
    width: 80%;
}

.navigation a.active {
    color: azure;
    background: #6e9f10;
    border-radius: 5px;
    box-shadow: #8cb548 3px 3px;
}

.btn {
    box-sizing: border-box;
    background: #228e3f;
    color: azure;
    width: 90%;
    border: none;
    border-radius: 10px;
}

.user {
    box-sizing: border-box;
    margin-top: 1vh;
    background: #35a854;
    border-radius: 10px;
    box-shadow: #8cb548 5px 5px;
    padding: 1vw;
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    justify-content: flex-start;
    align-items: flex-start;
}