.form form {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    width: 95vw;
    margin: 1vh;
    justify-content: center;
}

.form h4 {
    align-self: center;
}

.btn {
    box-sizing: border-box;
    align-self: center;
    background: deepskyblue;
    color: #3c3e44;
    width: 90%;
    border: none;
    border-radius: 10px;
}