.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 1vh;
    column-gap: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.album {
    box-sizing: border-box;
    display: flex;
    color: #3c3e44;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1vh;
    height: 15vh;
    width: 24vw;
    background: #a2ce4f;
    box-shadow: #6e9f10 3px 3px;
}