.post {
    display: flex;
    box-sizing: border-box;
    padding: 1vh;
    flex-direction: column;
    row-gap: 1vh;
    width: 20vw;
    height: 25vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #423bab;
    border-radius: 15px;
    color: #b9badb;
    margin: 4px;
}

.btn {
    color: #b9badb;
    align-items: center;
    justify-content: center;
    background: #c13238;
    border: #c13238;
    box-sizing: border-box;
    border-radius: 25px;
    width: 90%;
}

.post h3 {
    display: flex;
    height: 85%;
    justify-content: center;
    align-items: center;
}



