* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #0d0f37;
    color: #b9badb;
}